_build/
third_party/build/
saves/
.tools/
.worktrees/
moon.work
*.user
*.suo
*.pdb
*.ilk
*.obj
*.lib
*.exe
platform/native/mmd_animated_model.c
platform/native/mmd_texture_atlas.c
platform/native/fbx_model.c
platform/native/fbx_*.c
assets/private/
resourcepacks/*/textures/
!resourcepacks/*/pack.json
*.pmx
*.pmd
*.vmd
*.vpd
*.x
*.zip
